# Ignore node_modules (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore temp files
*.tmp
*.temp

# Ignore backup files
*.bak

# Ignore Microsoft files (Word, Excel, PowerPoint)
*.doc
*.ppt
*.xls
*.docx
*.pptx
*.xlsx

# Ignore Adobe files (Photoshop, Illustrator, Acrobat)
*.psd
*.pdf