# =========================
# Maven build
# =========================
/target/

# =========================
# Logs
# =========================
*.log
/logs/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# OS generated junk
# =========================
.DS_Store
Thumbs.db
